---
apiVersion: "apiextensions.k8s.io/v1beta1"
kind: "CustomResourceDefinition"
metadata:
  name: "applications.nais.io"
spec:
  group: "nais.io"
  version: "v1alpha1"
  scope: "Namespaced"
  names:
    plural: "applications"
    singular: "application"
    kind: "Application"
    shortNames:
    - app
  additionalPrinterColumns:
    - name: Age
      type: date
      JSONPath: .metadata.creationTimestamp
    - name: Team
      type: string
      JSONPath: .metadata.labels.team
  validation:
    openAPIV3Schema:
      properties:
        spec:
          required:
          - image
          - port
          properties:
            image:
              type: string
            replicas:
              properties:
                min:
                  type: integer
                max:
                  type: integer
                cpuThresholdPercentage:
                  type: integer
            port:
              type: integer
            strategy:
              type: string
              enum:
                - "Recreate"
                - "RollingUpdate"
            liveness:
              required:
              - path
              properties:
                path:
                  type: string
                initialDelay:
                  type: integer
                timeout:
                  type: integer
                periodSeconds:
                  type: integer
                failureThreshold:
                  type: integer
            readiness:
              required:
              - path
              properties:
                path:
                  type: string
                initialDelay:
                  type: integer
                timeout:
                  type: integer
            leaderElection:
              type: boolean
            preStopHookPath:
              type: string
            prometheus:
              properties:
                enabled:
                  type: boolean
                path:
                  type: string
            istio:
              properties:
                enabled:
                  type: boolean
            resources:
              properties:
                limits:
                  properties:
                    cpu:
                      type: string
                      pattern: '^\d+m?$'
                    memory:
                      type: string
                      pattern: '^\d+[MG]i$'
                requests:
                  properties:
                    cpu:
                      type: string
                      pattern: '^\d+m?$'
                    memory:
                      type: string
                      pattern: '^\d+[MG]i$'
            ingresses:
              type: array
            logformat:
              type: string
              enum:
                - ""
                - "access_log"
                - "access_log_with_processing_time"
                - "accesslog_with_referer_useragent"
                - "capnslog"
                - "logrus"
                - "gokit"
                - "redis"
                - "glog"
                - "simple"
                - "influxdb"
                - "log15"
            logtransform:
              type: string
            webproxy:
              type: boolean
            secrets:
              type: boolean
            vault:
              type: object
              properties:
                enabled:
                  type: boolean
                paths:
                  type: array
                  items:
                    type: object
                    required:
                      - kvPath
                      - mountPath
                    properties:
                      kvPath:
                        type: string
                      mountPath:
                        type: string
            configMaps:
              properties:
                files:
                  type: array
            env:
              type: array
              items:
                type: object
                required:
                  - name
                  - value
                properties:
                  name:
                    type: string
                  value:
                    type: string
