---
apiVersion: v1
kind: Secret
type: kubernetes.io/Opaque
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
    {{- toYaml .Values.labels | nindent 4 }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
stringData:
  naiserator.yaml: |
    ---
    {{- toYaml .Values.naiserator | nindent 4 }}
    gateway-mappings:
    {{- range $el := .Values.gatewayMappings }}
    - domainSuffix: {{ $el }}
      ingressClass: {{ $.Values.ingressClass }}
    {{- end }}
    
    
