# Default values for naiserator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

annotations:
  reloader.stakater.com/search: "true"

imagePullPolicy: "IfNotPresent"
imagePullSecret: "gpr-credentials"
imageTag: "2022-12-08-5b1e996"

labels:
  kafka: enabled

stakaterSecret: "0c697898d6b74c708d5acdc318e8f0d7b3117e31"
naiserator:
  aiven-range: ""
  bind: 0.0.0.0:8080
  cluster-name: ""
  google-project-id: ""
  google-cloud-sql-proxy-container-image: "gcr.io/cloudsql-docker/gce-proxy:1.24.0-alpine"
  api-server-ip: ""
  host-aliases: ""
  nais-namespace: "nais-system"
  features:
    linkerd: false
    access-policy-not-allowed-cidrs: []
    network-policy: true
    vault: false
    jwker: false
    cnrm: true
    azurerator: false
    kafkarator: false
    digdirator: false
    prometheus-operator: true
    legacy-gcp: false
    gcp: true
    webhook: true
    seccomp: true
    nav-ca-bundle: false
  informer:
    full-sync-interval: 4h
  synchronizer:
    synchronization-timeout: 1m
    rollout-timeout: 20m
  kafka:
    enabled: false
    tls:
      enabled: true
      insecure: false
    topic: aura.dev-rapid
  proxy:
    address: http://webproxy.nais:8088
    exclude: localhost,127.0.0.1,10.254.0.1,.local,.adeo.no,.nav.no,.aetat.no,.devillo.no,.oera.no,.nais.io,.aivencloud.com
  securelogs:
    configmap-reload-image: ghcr.io/nais/configmap-reload/configmap-reload@sha256:3f30687b1200754924484a12124f7be58a55816661d864f6d1bf44e1131b6de6
    fluentd-image: ghcr.io/nais/nais-logd/nais-logd:107
  vault:
    address: ""
    auth-path: /kubernetes/default/default
    init-container-image: navikt/vault-sidekick:v0.3.10-26ad67d
    kv-path: /kv/default/default
  wonderwall:
    image: ghcr.io/nais/wonderwall:2022-11-10-30f155a
    loginstatus:
      enabled: true
      cookie-domain:
      cookie-name: innloggingsstatus-token
      resource-indicator: ""
      token-url: ""
  leader-election:
    image: ghcr.io/nais/elector:latest

  fqdn-policy:
    enabled: true
    rules:
      - host: metadata.google.internal
        port: 80
      - host: private.googleapis.com
        port: 443
      - host: login.microsoftonline.com
        port: 443
      - host: oidc.difi.no
        port: 443
      - host: ver2.maskinporten.no
        port: 443
      - host: maskinporten.no
        port: 443
      - host: oidc-ver2.difi.no
        port: 443
      - host: aivencloud.com
        port: 443

podSecurityContext:
  fsGroup: 65532
  runAsNonRoot: true
  supplementalGroups:
    - 65532
  seccompProfile:
    type: RuntimeDefault

  # fsGroup: 2000

securityContext:
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 65532
  seccompProfile:
    type: RuntimeDefault
  allowPrivilegeEscalation: false
