dependencies:
  - allOf:
      - nais-crds
      - cert-manager
      - texas
environmentKinds:
  - tenant
  - onprem
values:
  imageTag:
    displayName: Image tag
    config:
      type: string
  mapping.fa_hosts:
    displayName: Extra forward auth hosts
    config:
      type: string_array
  mapping.external_hosts:
    displayName: Extra external hosts
    config:
      type: string_array
  mapping.internal_hosts:
    displayName: Extra internal hosts
    config:
      type: string_array
  naiserator.aiven-generation:
    displayName: The generation of Aiven secrets in this cluster
    config:
      type: int
  naiserator.aiven-project:
    displayName: Aiven project
    computed:
      template: '"{{ if .Env.aiven_project }}{{ .Env.aiven_project }}{{ end }}"'
  naiserator.aiven-range:
    displayName: Aiven VPC CIDR
    computed:
      template: '"{{.Env.aiven_vpc_cidr}}"'
  naiserator.api-server-ip:
    description: cidr address of the Kubernetes API server must be set for legacy GCP clusters
    displayName: API server cidr
    computed:
      template: '"{{ .Env.apiserver_endpoint }}/32"'
    config:
      type: string
  naiserator.cluster-name:
    description: Override for equivalent mapping value
    displayName: Cluster name
    computed:
      template: '"{{.Env.name}}"'
    config:
      type: string
  naiserator.features.azurerator:
    displayName: Enable Azure AD for applications
    config:
      type: bool
  naiserator.doc-url:
    computed:
      template: |
        "docs.{{ .Tenant.Name }}.cloud.nais.io"
  naiserator.features.cnrm:
    displayName: Enable CNRM
    computed:
      template: '{{ne .Kind "onprem"}}'
  naiserator.features.idporten:
    displayName: Enable ID-porten for applications
    config:
      type: bool
  naiserator.features.gar-toleration:
    displayName: Enable GAR images
    config:
      type: bool
    ignoreKind:
      - onprem
      - tenant
      - management
  naiserator.features.gcp:
    displayName: Enable GCP
    computed:
      template: '{{ne .Kind "onprem"}}'
  naiserator.features.jwker:
    displayName: Enable Jwker
    config:
      type: bool
  naiserator.features.kafkarator:
    displayName: Enable Kafka for applications
    computed:
      template: '{{ne .Env.aiven_project ""}}'
  naiserator.features.nav-ca-bundle:
    displayName: Enable NAV CA bundle
    config:
      type: bool
  naiserator.features.maskinporten:
    displayName: Enable Maskinporten for applications
    config:
      type: bool
  naiserator.features.network-policy:
    displayName: Enable Network Policy
    computed:
      template: '{{ne .Kind "onprem"}}'
  naiserator.features.postgres-operator:
    description: Enable Postgres Operator
    displayName: Enable Postgres Operator
    config:
      type: bool
    ignoreKind:
      - onprem
      - management
  naiserator.features.prometheus-operator:
    description: Enable Prometheus Operator
    displayName: Enable Prometheus Operator
    config:
      type: bool
    ignoreKind:
      - tenant
      - management
  naiserator.features.sql-instance-in-shared-vpc:
    displayName: Create SQL Instance in Shared VPC
    config:
      type: bool
  naiserator.features.vault:
    displayName: Enable Vault
    computed:
      template: '{{eq .Kind "onprem"}}'
  naiserator.features.wonderwall:
    displayName: Enable Wonderwall
    config:
      type: bool
    ignoreKind:
      - onprem
  naiserator.fqdn-policy.enabled:
    displayName: Enable FQDN policy
    config:
      type: bool
  naiserator.frontend.telemetry-url:
    displayName: URL to public Grafana Agent collector endpoint
    config:
      type: string
    ignoreKind:
      - onprem
      - management
  ingress.internal.class:
    displayName: Internal ingress class
    computed:
      template: '"nais-ingress"'
    config:
      type: string
  ingress.external.class:
    displayName: External ingress class
    computed:
      template: '"nais-ingress-external"'
    config:
      type: string
  ingress.fa.class:
    displayName: Forward auth ingress class
    computed:
      template: '"nais-ingress-fa"'
    config:
      type: string
  naiserator.gateway-mappings:
    displayName: Gateway mappings
    computed:
      template: |
        - domainSuffix: "{{.Env.name}}.{{.Tenant.Name}}.cloud.nais.io"
          ingressClass: "{{.Configs.ingress.internal.class}}"
        - domainSuffix: "external.{{.Env.name}}.{{.Tenant.Name}}.cloud.nais.io"
          ingressClass: "{{.Configs.ingress.external.class}}"
        - domainSuffix: "authenticated.{{.Env.name}}.{{.Tenant.Name}}.cloud.nais.io"
          ingressClass: "{{.Configs.ingress.fa.class}}"
        {{- range .Configs.mapping.internal_hosts }}
        - domainSuffix: "{{ . }}"
          ingressClass: "{{.Configs.ingress.internal.class}}"
        {{- end }}
        {{- range .Configs.mapping.external_hosts }}
        - domainSuffix: "{{ . }}"
          ingressClass: "{{.Configs.ingress.external.class}}"
        {{- end }}
        {{- range .Configs.mapping.fa_hosts }}
        - domainSuffix: "{{ . }}"
          ingressClass: "{{.Configs.ingress.fa.class}}"
        {{- end }}
  naiserator.google-project-id:
    displayName: Google project ID
    computed:
      template: '"{{.Env.project_id}}"'
    ignoreKind:
      - onprem
  naiserator.observability.otel.enabled:
    computed:
      template: "true"
  naiserator.observability.otel.destinations:
    computed:
      template: |
        - grafana-lgtm
        {{- if eq .Kind "onprem" }}
        - elastic-apm
        {{- end }}
  naiserator.observability.otel.auto-instrumentation.enabled:
    config:
      type: bool
  naiserator.observability.logging.destinations:
    computed:
      # Find all logging_*_default_flow environment variables and use for configuration of available log destinations
      template: |
        {{ range $k,$v := .Env }}
        {{ if eq (printf "%.8s" $k) "logging_" }}
        {{- $k := replace $k "logging_" "" }}
        {{- $k := replace $k "_default_flow" "" }}
        - {{ $k }}
        {{- end }}
        {{- end }}
  naiserator.postgres.storage-class:
    description: Storage class for Postgres ("standard-rwo" (default) or "premium-rwo")
    config:
      type: string
    ignoreKind:
      - onprem
      - management
  naiserator.proxy.address:
    config:
      type: string
    ignoreKind:
      - tenant
  naiserator.proxy.exclude:
    config:
      type: string
    ignoreKind:
      - tenant
  naiserator.vault.address:
    required: true
    config:
      type: string
    ignoreKind:
      - tenant
  naiserator.vault.auth-path:
    required: true
    config:
      type: string
    ignoreKind:
      - tenant
  naiserator.vault.kv-path:
    required: true
    config:
      type: string
    ignoreKind:
      - tenant
  naiserator.image-pull-secrets:
    description: List of image pull secrets to use for pulling images
    config:
      type: string_array
