# Default values for naiserator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

annotations:
  reloader.stakater.com/search: "true"

imagePullPolicy: "IfNotPresent"
imagePullSecret: "gpr-credentials"
imageTag: "2022-12-08-5b1e996"

labels:
  kafka: enabled

stakaterSecret: "0c697898d6b74c708d5acdc318e8f0d7b3117e31"
naiserator:
  aiven-range: ""
  aiven-project: ""
  bind: 0.0.0.0:8080
  cluster-name: ""
  google-project-id: ""
  google-cloud-sql-proxy-container-image: "gcr.io/cloudsql-docker/gce-proxy:1.33.9-alpine"
  api-server-ip: ""
  host-aliases: ""
  nais-namespace: "nais-system"
  features:
    linkerd: false
    access-policy-not-allowed-cidrs: []
    network-policy: true
    vault: false
    influx-credentials: false
    jwker: false
    cnrm: true
    azurerator: false
    kafkarator: false
    idporten: false
    maskinporten: false
    prometheus-operator: false
    legacy-gcp: false
    gcp: true
    webhook: true
    nav-ca-bundle: false
    wonderwall: false
    gar-toleration: false
  frontend:
    telemetry-url: http://localhost:12347/collect
  informer:
    full-sync-interval: 4h
  synchronizer:
    synchronization-timeout: 1m
    rollout-timeout: 20m
  kafka:
    enabled: false
    tls:
      enabled: true
      insecure: false
    topic: aura.dev-rapid
  max-concurrent-reconciles: 20
  proxy:
    address: ""
    exclude: ""
  ratelimit:
    qps: 250
    burst: 500
  securelogs:
    configmap-reload-image: ghcr.io/nais/configmap-reload/configmap-reload@sha256:3f30687b1200754924484a12124f7be58a55816661d864f6d1bf44e1131b6de6
    fluentd-image: europe-north1-docker.pkg.dev/nais-io/nais/images/nais-logd:107
  vault:
    address: ""
    auth-path: /kubernetes/default/default
    init-container-image: europe-north1-docker.pkg.dev/nais-io/nais/images/vault-sidekick:v0.4.0-c3c10e1
    kv-path: /kv/default/default

  fqdn-policy:
    enabled: true
    rules:
      - host: metadata.google.internal
        port: 80
      - host: private.googleapis.com
        port: 443
      - host: login.microsoftonline.com
        port: 443
      - host: oidc.difi.no
        port: 443
      - host: ver2.maskinporten.no
        port: 443
      - host: maskinporten.no
        port: 443
      - host: oidc-ver2.difi.no
        port: 443
      - host: aivencloud.com
        port: 443
      - host: unleash.nais.io
        port: 443

podSecurityContext:
  fsGroup: 65532
  runAsNonRoot: true
  supplementalGroups:
    - 65532
  seccompProfile:
    type: RuntimeDefault

securityContext:
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 65532
  seccompProfile:
    type: RuntimeDefault
  allowPrivilegeEscalation: false
