apiVersion: apps/v1
kind: Deployment
metadata:
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    app: {{ .Release.Name }}
  name: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        prometheus.io/path: /metrics
        prometheus.io/port: "8080"
        prometheus.io/scrape: "true"
        kubectl.kubernetes.io/default-container: naiserator
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        reloader.stakater.com/search: "true"
      labels:
        app: {{ .Release.Name }}
    spec:
      containers:
      - env:
        - name: NAISERATOR_LEADER_ELECTION_IMAGE
          valueFrom:
            configMapKeyRef:
              key: elector_image
              name: elector
              optional: true
        {{ if (get .Values.naiserator.features "postgres-operator") }}
        - name: NAISERATOR_POSTGRES_IMAGE
          valueFrom:
            configMapKeyRef:
              key: postgres_image
              name: postgres-image
              optional: true
        {{ end }}
        {{ if .Values.naiserator.features.wonderwall }}
        - name: NAISERATOR_WONDERWALL_IMAGE
          valueFrom:
            configMapKeyRef:
              key: wonderwall_image
              name: wonderwall
        {{ end }}
        {{ if .Values.naiserator.features.texas }}
        - name: NAISERATOR_TEXAS_IMAGE
          valueFrom:
            configMapKeyRef:
              key: texas_image
              name: texas
        {{ end }}
        ports:
          - name: metrics
            containerPort: 8080
            protocol: TCP
        image: europe-north1-docker.pkg.dev/nais-io/nais/images/naiserator:{{ .Values.imageTag }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        name: naiserator
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8085
        securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
        volumeMounts:
        - mountPath: /etc/naiserator.yaml
          name: naiserator
          subPath: naiserator.yaml
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: webhook-cert
          readOnly: true
      imagePullSecrets:
      - name: {{ .Values.imagePullSecret }}
      serviceAccount: {{ .Release.Name }}
      serviceAccountName: {{ .Release.Name }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
      - name: naiserator
        secret:
          defaultMode: 420
          secretName: {{ .Release.Name }}
      - name: webhook-cert
        secret:
          defaultMode: 420
          secretName: {{ .Release.Name }}-webhook
