---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  annotations:
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ .Release.Name }}-serving-cert
  name: naiserator-mutating-webhook-configuration
  labels:
    app: naiserator
webhooks:
  - clientConfig:
      service:
        name: {{ .Release.Name }}-webhook
        namespace: {{ .Release.Namespace }}
        path: /mutate-nais-io-v1alpha1-application
    failurePolicy: Fail
    matchPolicy: Equivalent
    sideEffects: None
    admissionReviewVersions:
      - v1beta1
    name: mutation.applications.nais.io
    rules:
      - apiGroups:
          - nais.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - applications
  - clientConfig:
      service:
        name: {{ .Release.Name }}-webhook
        namespace: {{ .Release.Namespace }}
        path: /mutate-nais-io-v1-naisjob
    failurePolicy: Fail
    matchPolicy: Equivalent
    sideEffects: None
    admissionReviewVersions:
      - v1beta1
    name: mutation.naisjobs.nais.io
    rules:
      - apiGroups:
          - nais.io
        apiVersions:
          - v1
        operations:
          - CREATE
          - UPDATE
        resources:
          - naisjobs
