name: Runnings tests on your code

on:
  push:
    branches-ignore:
      - master

env:
  REPO_URL: https://api.github.com/repos/nais/naiserator/dispatches

jobs:
  make-crd:
    name: Go tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15
      - run: make test
      - run: cat cover.out
